<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/public/styles.css">
  <meta charset="utf-8">
</head>
<nav>
  <ul>
    <a href="/">
      <li>Home</li>
    </a>
    <a href="/login">
      <li>Login</li>
    </a>
    <a href="/register">
      <li>Register</li>
    </a>
  </ul>
</nav>
<hr>

<body>
  {{{body}}}
</body>
<hr>
<br>
<br>
<div class="footer">
  <ul class="list-inline">
    <li>
      <a href="https://www.facebook.com/sogaxacale" class="btn-social btn-outline" target="_blank"><img src="../../public/img/facebook.png" alt=""></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/zikisacalesogaxa" class="btn-social btn-outline" target="_blank"><img src="../../public/img/Linkedin.png" alt=""></a>
    </li>
    <li>
      <a href="https://www.instagram.com/sogaxa_zikisa/" class="btn-social btn-outline" target="_blank"><img src="../../public/img/instagram.png" alt=""></a>
    </li>
    <li>
      <a href="https://www.github.com/cale312" class="btn-social btn-outline" target="_blank"><img src="../../public/img/github.png" alt=""></a>
    </li>
  </ul>
  <h4>site By: Zikisa Cale Sogaxa</h4>
</div>

</html>
