<title>Admin</title>
<h3>{{admin}}</h3>
<table align="center" class="admin-table">
  <tr>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
  <tr>
    <ul>
      <td><li>Dummy data</li></td>
      <td><li>Dummy data</li></td>
      <td><li>Dummy data</li></td>
      <td><li>Dummy data</li></td>
      <td><li>Dummy data</li></td>
      <td><li>Dummy data</li></td>
      <td><li>Dummy data</li></td>
    </ul>
  </tr>
</table>
<br>
<a href="/login" class="submit-btn">Logout</a>
