<title>Login</title>
<form class="" action="/login" method="post" style="text-align: center">
  <h1>Login page</h1>
  <input type="text" name="username" placeholder="username" class="username">
  <br>
  <br>
  <input type="password" name="password" placeholder="****" class="password">
  <br>
  <br>
  <input type="submit" name="login" value="login" class="sbmitBtn">
  <input type="submit" name="signup" value="signup" class="sbmitBtn">
</form>
