<title>Login</title>
<form class="login-form" action="/login" method="post">
  <h1>Login page</h1>
  <br>
  <input type="text" name="username" value="" class="username" placeholder="username...">
  <br>
  <br>
  <input type="password" name="password" value="" class="password" placeholder="password...">
  <br>
  <br>
  <input type="submit" name="login" value="login" class="loginBtn">
  <input type="submit" name="register" value="register" class="registrationBtn">
</form>
