<title>Register</title>
<form class="registration-screen" action="/register" method="post">
  <h2>signup</h2>
  <input type="text" name="newUsername" value="" class="text" placeholder="username...">
  <br>
  <br>
  <input type="password" name="newPassword" value="" class="text" placeholder="password...">
  <br>
  <br>
  <input type="email" name="email" value="" class="text" placeholder="email...">
  <br>
  <br>
  <input type="submit" name="button" value="register" class="register-btn">
  <br>
  {{msg}}
</form>
