<title>sign up</title>
<form class="" action="/signup" method="post">
  <h1>signup page</h1>
  <table align="center">
    <tr>
      <td><label for="name">name</label></td>
      <td><input type="text" name="name" value=""></td>
    </tr>
    <tr>
      <td><label for="secondName">second name</label></td>
      <td><input type="text" name="secondName" value=""></td>
    </tr>
    <tr>
      <td><label for="email">email</label></td>
      <td><input type="text" name="email" value=""></td>
    </tr>
    <tr>
      <td><label for="username">username</label></td>
      <td><input type="text" name="username" value=""></td>
    </tr>
    <tr>
      <td><label for="password">password</label></td>
      <td><input type="password" name="password" value=""></td>
    </tr>
  </table>
  <input type="submit" name="signup" value="signup" class="sbmitBtn">
</form>
