<title>{{username}}</title>
<form class="" action="/waiters" method="post">
  {{username}}
  <hr>
  <table align="center">
    <th><input type="checkbox" name="day" value="Monday">Monday</th>
    <th><input type="checkbox" name="day" value="Tuesday">Tuesday</th>
    <th><input type="checkbox" name="day" value="Wednesday">Wednesday</th>
    <th><input type="checkbox" name="day" value="Thursday">Thursday</th>
    <th><input type="checkbox" name="day" value="Friday">Friday</th>
    <th><input type="checkbox" name="day" value="Saturday">Saturday</th>
    <th><input type="checkbox" name="day" value="Sunday">Sunday</th>
  </table>
</form>
