<title>Login</title>
<form class="waiterLogin" action="login" method="post">
  <h2>login</h2>
  <input type="text" name="username" value="" class="text" placeholder="username...">
  <br>
  <br>
  <input type="password" name="password" value="" class="text" placeholder="password...">
  <br>
  <br>
  <span style="color: red">{{error}}</span>
  <br>
  <br>
  <input type="submit" name="login" value="login" class="login-btn">
  <input type="submit" name="signup" value="register" class="signup-btn">
</form>
